/.vs/ReactWidgets.Solution/DesignTimeBuild/*.dtbcache
/.vs/ReactWidgets.Solution/v15
/.vs/config
/ReactWidgets/ClientApp/package-lock.json
/ReactWidgets/ClientApp/*.lock
/.vs/ReactWidgets.Solution/v16/Server/sqlite3
/.vs/ReactWidgets.Solution
