ul.nxt-list {
    margin: 0;
    padding: 0;
}
   
.nxt-list > li {
    list-style: none;
    border-bottom: 1px solid #ccc;
    line-height: 2;
    padding: 5px 20px;
    background: white;
}
   
.nxt-list > li:last-child {
    border: none;
}
